@font-face {
  font-family: 'Cera Pro';
  src: url('CeraPro-Black.ttf') format('truetype'),
    url('CeraPro-Black.woff') format('woff'),
    url('CeraPro-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('CeraPro-Regular.ttf') format('truetype'),
    url('CeraPro-Regular.woff') format('woff'),
    url('CeraPro-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('CeraPro-Bold.ttf') format('truetype'),
    url('CeraPro-Bold.woff') format('woff'),
    url('CeraPro-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
